$Social-Icons: (
        facebook: "\e14a",
        facebook-square: "\e900",
        facebook-circle: "\e14c",
        facebook-2: "\e14b",
        facebook-3: "\e227",
        google: "\e145",
        google-square: "\e901",
        google-circle: "\e148",
        google-2: "\e147",
        google-3: "\e229",
        twitter: "\e14e",
        twitter-3: "\e06a",
        twitter-square: "\e902",
        twitter-square-2: "\e903",
        twitter-circle: "\e14f",
        twitter-sq: "\e228",
        twitter-2: "\e067",
        pinterest: "\e904",
        pinterest-square: "\e905",
        pinterest-circle: "\e192",
        pinterest-2: "\e193",
        instagram: "\e14d",
        instagram-square: "\e906",
        soundcloud: "\e182",
        soundcloud-square: "\e907",
        soundcloud-2: "\e183",
        dropbox: "\e076",
        dropbox-square: "\e908",
        youtube: "\e09a",
        youtube-square: "\e909",
        linkedin-square: "\e90a",
        linkedin: "\e18b",
        rss: "\e150",
        rss-2: "\e151",
        rss-cirlce: "\e152",
        vimeo: "\e156",
        vimeo-2: "\e157",
        vimeo-circle: "\e159",
        github: "\e15f",
        github-circle: "\e15e",
        flickr: "\e16e",
        flickr-circle: "\e16c",
        flickr-2: "\e16d",
        reddit: "\e18a",
        linux: "\e17c",
        apple: "\e17d",
        android: "\e17e",
        finder: "\e180",
        windows: "\e181",
        google-drive: "\e149",
        amazon-square: "\e90b"
);