$icon-social-facebook: "\e14a";
$icon-social-facebook-square: "\e900";
$icon-social-facebook-circle: "\e14c";
$icon-social-facebook-2: "\e14b";
$icon-social-facebook-3: "\e227";
$icon-social-google: "\e145";
$icon-social-google-square: "\e901";
$icon-social-google-circle: "\e148";
$icon-social-google-2: "\e147";
$icon-social-google-3: "\e229";
$icon-social-twitter: "\e14e";
$icon-social-twitter-3: "\e06a";
$icon-social-twitter-square: "\e902";
$icon-social-twitter-square-2: "\e903";
$icon-social-twitter-circle: "\e14f";
$icon-social-twitter-sq: "\e228";
$icon-social-twitter-2: "\e067";
$icon-social-pinterest: "\e904";
$icon-social-pinterest-square: "\e905";
$icon-social-pinterest-circle: "\e192";
$icon-social-pinterest-2: "\e193";
$icon-social-instagram: "\e14d";
$icon-social-instagram-square: "\e906";
$icon-social-soundcloud: "\e182";
$icon-social-soundcloud-square: "\e907";
$icon-social-soundcloud-2: "\e183";
$icon-social-dropbox: "\e076";
$icon-social-dropbox-square: "\e908";
$icon-social-youtube: "\e09a";
$icon-social-youtube-square: "\e909";
$icon-social-linkedin-square: "\e90a";
$icon-social-linkedin: "\e18b";
$icon-social-rss: "\e150";
$icon-social-rss-2: "\e151";
$icon-social-rss-cirlce: "\e152";
$icon-social-vimeo: "\e156";
$icon-social-vimeo-2: "\e157";
$icon-social-vimeo-circle: "\e159";
$icon-social-github: "\e15f";
$icon-social-github-circle: "\e15e";
$icon-social-flickr: "\e16e";
$icon-social-flickr-circle: "\e16c";
$icon-social-flickr-2: "\e16d";
$icon-social-reddit: "\e18a";
$icon-social-linux: "\e17c";
$icon-social-apple: "\e17d";
$icon-social-android: "\e17e";
$icon-social-finder: "\e180";
$icon-social-windows: "\e181";
$icon-social-google-drive: "\e149";
$icon-social-amazon-square: "\e90b";
